:root {
    --min-color: "#FFFFFF";
    --max-color: "#000000";
}

* {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-body {
    padding: 0 !important;
    /* display: flex; */
    position: absolute;
    /* height: 80vh; */
}

.map-container {
    display: flex;
    position: relative;
}

#myMap {
    /* position: relative; */
    height: 80vh;
    width: 100%;
}

.popupHeader {
    /* font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: medium;
    border-bottom: 4px solid rgba(122, 122, 122, 0.2);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.leaflet-tooltip.my-labels {
    /* font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: #222222;
    font-weight: bold;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1.4em;
}

.color-scale-main-container {
    display: flex;
    position: absolute;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    /* align-content: stretch; */
    background: none;
    z-index: 99999;
    pointer-events: none
}

.color-scale-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: end;
    margin: 2rem 2rem 2rem 1rem;
    pointer-events: all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-indicator {
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 2px;
    /* background-color: rgba(255, 255, 255, 0.9); */
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #222222;
    /* opacity: 0.8; */
    transition: all 0.3s ease-in;
    transform: translate(-40px, 0);
}

.indicator {
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #222222;
    transition: all 0.3s ease-in;
    transform: translate(-40px, 0);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* .max-indicator {
    transform: translate(-50px, 2.3rem)
} */

.max-indicator,
.min-indicator {
    font-size: smaller;
    padding: 0 0.2rem 0 0.2rem;
}

.max-indicator::after,
.min-indicator::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease-in;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 8px solid #000000;
    opacity: 0.9;
    right: -16px;
    top: 28%;
    opacity: 0.8;
}

/* .color-scale-container :nth-child(1) {
    display: flex;
    justify-content: center;
} */

.color-scale {
    background: linear-gradient(#BB0000, #FFFF00, #008800);
    opacity: .8;
    border-radius: 4px;
    width: 30px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #222222; */
}

.color-scale-text {
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    transform: translate(2rem, 6.7rem) rotate(-90deg);
    transform-origin: 0 0;

}

/* span.min-scale-text,
span.max-scale-text {
    display: flex;
    font-weight: bold;
    color: #222222;
    opacity: 0.8;
} */