:root {
    --color-darkgrey: #6F7275;
    --color-midgrey: #B8BCC2;
    --color-lightgrey: #E8EDF5;
    --color-darckblue: #4C5C75;
    --color-lightblue: #A0C1F7;

    --color-darkgrey: #474f59;
    --color-midgrey: #80868C;
    --color-darkgrey2: #313A40;
    --color-aquamarine: #ACF2F2;
    --color-cream: #F2EAE4;
}

/* body,
html {
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
} */

.nav {
    padding-top: 3rem;
    width: 100%;
    border-bottom: 5px solid #E8EDF5;
    background: linear-gradient(0deg, rgba(232, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 2px 5px #B8BCC2;
}

.container {
    /* padding: 0.2rem 0.2rem; */
    width: 100%;
    /* max-width: 1000px; */
}

.header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

/* .header-title {} */

.header-title {
    color: #333333;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-subtitle {
    color: #80868C;
    padding-left: 1rem;
    padding-right: 1rem;
}

th,
td {
    white-space: nowrap;
}

.form {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1.5rem; */
}

.form .selector {
    margin: 1rem 1rem;
    width: 100%;

}

.form .selector h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}

#spinner {
    margin: 10rem;
}

#spinner.hide {
    display: none;
}

#table-div.hide {
    display: none;
}

table {
    width: 100% !important;
}

table.dataTable td {
    font-size: 1em;
}

.dt-buttons,
.dataTables_filter {
    margin-bottom: 1rem;
}

.icons {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: .75rem;
}

.icons i {
    cursor: pointer;
}

.pad {
    padding: 80px
}

.cen {
    text-align: center
}