:root {
    --color-darkgrey: #6F7275;
    --color-midgrey: #B8BCC2;
    --color-lightgrey: #E8EDF5;
    --color-darckblue: #4C5C75;
    --color-lightblue: #A0C1F7;

    --color-darkgrey: #474f59;
    --color-midgrey: #80868C;
    --color-darkgrey2: #313A40;
    --color-aquamarine: #ACF2F2;
    --color-cream: #F2EAE4;
}

body,
html {
    padding: 0%;
    margin: 0%;
}

body {
    height: 100%;
    background-color: var(--color-darkgrey2);
}

.container {
    padding: 0.2rem 0.2rem;
}

th,
td {
    white-space: nowrap;
}

.form {
    display: flex;
    justify-content: space-between;
    /* margin: 0.5rem; */
}

.form .selector {
    margin: 1rem 1rem;
    width: 100%;

}

.form .selector h5 {
    margin: 0.4rem 0.8rem 0.4rem 0.8rem;

}

table.dataTable td {
    font-size: 0.9em;
}