:root {
    --color-darkgrey: #6F7275;
    --color-midgrey: #B8BCC2;
    --color-lightgrey: #E8EDF5;
    --color-darckblue: #4C5C75;
    --color-lightblue: #A0C1F7;
    --color-darkgrey: #474f59;
    --color-midgrey: #80868C;
    --color-darkgrey2: #313A40;
    --color-aquamarine: #ACF2F2;
    --color-cream: #F2EAE4;
}

body,
html {
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    /* width: 100%; */
    /* overflow: hidden; */
    /* position: relative; */
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* body {
    height: 100%;
} */

.navbar-brand {
    margin-left: 1rem;
}

.nav {
    /* margin-top: 2rem; */
    padding-top: 1rem;
    width: 100%;
    background-color: #E8EDF5;
    /* background: linear-gradient(0deg, #E8EDF5 0%, rgba(255, 255, 255, 1) 100%); */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.main-header {
    box-shadow: 0px 2px 5px #B8BCC2;

}

.progress-bar,
.progress {
    border-radius: 0px !important;
}

.container {
    /* padding: 0.2rem 0.2rem; */
    width: auto;
    /* max-width: 1000px; */
}

.header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

/* .header-title {} */

.header-title {
    color: #333333;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-subtitle {
    color: #80868C;
    padding-left: 1rem;
    padding-right: 1rem;
}

th,
td {
    white-space: nowrap;
}

.main-form {
    display: grid;
    grid-template-columns: 15fr 1fr;
}

.form {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1.5rem; */
}

.form .selector {
    margin: 0 1rem 1rem 1rem;
    width: 100%;

}

.form .selector h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}

.form-select {
    max-width: 95%;
}

#spinner {
    margin: 10rem;
}

#spinner.hide {
    display: none;
}

#table-div {
    overflow: hidden;
    margin-left: 1rem;
}

#table-div.hide {
    display: none;
}

table {
    width: 100% !important;
}

table.dataTable td {
    font-size: 1em;
}

.dt-buttons,
.dataTables_filter {
    margin: 0.3rem 0.3rem 1rem 0.3rem;
}

.dt-buttons .btn {
    margin: 0.1rem 0.1rem;
    width: 4rem;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly !important;
    margin: 1rem 1rem .75rem 1rem
        /* margin-top: 1rem; */
        /* margin-bottom: .75rem; */
}

.form-check {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#reset.disabled {
    pointer-events: none
}

.icons * {
    cursor: pointer;
}

.pad {
    padding: 80px
}

.cen {
    text-align: center
}

.error-modal-body {
    margin: 1rem;
}

.modal-body .error-message {
    display: inline-block;
}

@media (max-width: 1000px) {
    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .form .selector {
        margin: 0rem
    }

    .form .selector h5 {
        text-align: center;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;

    }

    .dt-buttons {
        margin-top: .5rem;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin: 1rem 1rem .75rem 1rem */
    }
}

.divider {
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 3rem;
    max-height: 50px;
    height: 80%;
    pointer-events: none;
}

.divider svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%
}

.divider .waves {
    position: absolute;
    width: 200%;
    height: 100%;
    margin-bottom: -7px;
    min-height: 75px;
    max-height: 200px;
    animation: move-forever 35s cubic-bezier(.55, .5, .45, .5) infinite
}

.divider .waves.w2 {
    animation-delay: -20s;
    animation-duration: 40s;
}

.divider .waves.w3 {
    fill: url(#my-cool-gradient) #c6cbd3;
    animation-delay: -15s;
    animation-duration: 45s;
}

.divider .waves.w4 {
    animation-delay: -14s;
    animation-duration: 25s;
}

.divider .waves.w5 {
    animation: move-forever2 35s cubic-bezier(.55, .5, .45, .5) infinite;
    animation-delay: -8s;
    animation-duration: 45s;
    right: 0
}

.orbita {
    width: 30%;
    display: block;
    border: 1px solid rgba(82, 80, 153, .3);
    position: absolute;
    margin: auto;
    border-radius: 100%;
    animation: spin 65s cubic-bezier(.55, .5, .45, .5) infinite
}

.orbita:before {
    content: '';
    float: left;
    padding-bottom: 100%
}

.orbita:after {
    content: '';
    display: table;
    clear: both
}

.orbita span {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ebc2de;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto
}

.footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    background-color: transparent;
    background: #E9ECEF;
    /* border-bottom: 5px solid #E9ECEF; */
    /* background: linear-gradient(0deg, #E9ECEF 0%, rgba(232, 237, 245, 1) 100%); */
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer span {
    font-weight: 600;
}

.footer .icon {
    color: #333333;
    padding: 0.2rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0
    }

    33% {
        transform: scale(1.2);
        opacity: 1
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

@media screen and (min-width: 640px) {
    .divider {
        max-height: 150px
    }
}

@media screen and (min-width: 1024px) {
    .divider {
        max-height: 190px
    }
}

@media screen and (min-width: 1600px) {
    .divider {
        max-height: 260px
    }
}


@keyframes move-forever {
    0% {
        transform: translate(-50%, 0%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(50%, 0%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}